PORT=8082
DATABASE_URL="u721451974_nexa:*Reedb4b4@tcp(srv2113.hstgr.io:3306)/u721451974_nexa_db?charset=utf8mb4&parseTime=True&loc=Local&tls=preferred"
JWT_SECRET="nexa-jwt-secret-key-production-2026"
ALLOWED_ORIGINS="*"
ENV="production"
