# Render Live Production Microservices
NEXT_PUBLIC_API_URL=https://nexa-marketplace-service.onrender.com/api
NEXT_PUBLIC_SUBSCRIPTION_API_URL=https://nexa-user-subscription-service.onrender.com/api/v1
NEXT_PUBLIC_GTM_API_URL=https://nexa-ai-gtm-service.onrender.com/api/v1/gtm
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyCPSko-yh7VsQtpPyKzRmbXJWQOdcCJ8BE
