PORT=8081
DATABASE_URL="u721451974_nexa:*Reedb4b4@tcp(srv2113.hstgr.io:3306)/u721451974_nexa_db?charset=utf8mb4&parseTime=True&loc=Local&tls=preferred"
JWT_SECRET="nexa-jwt-secret-key-production-2026"
PAYSTACK_SECRET_KEY=sk_test_mock_paystack_secret_key
STRIPE_SECRET_KEY=sk_test_mock_stripe_secret_key
FRONTEND_URL=http://ofia.ng
ALLOWED_ORIGINS="*"
ENV="production"
